#
# application.yml — главный конфигурационный файл Spring Boot.
testing:
  app:
    secret: ${JWT_SECRET}
    expirationMs: 9000000
    refreshExpirationMs: 604800000
  security:
    encryption-key: ${ENCRYPTION_KEY}


spring:
  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: jdbc:postgresql://localhost:5432/${DB_NAME}

  liquibase:
    change-log: classpath:/db.changelog-master.yaml

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method